
.edu-nsw-act-foundation{
    font-family: "Edu NSW ACT Foundation", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .amatic-sc-regular {
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.contenedor{
    width: 100%;
    height: 100vh;
}
.cont1{
    margin: auto;
width: 100%;
min-height: 100vh; 
border: 4px solid #386641;
background-image:url("../IMG/fondo.jpg");
background-repeat: no-repeat;
background-size: cover;
background-color: #000000;
background-attachment:fixed;

}
.cont2{
    margin: auto;
    width: 100%;
    height: 100%;
    border: 2px solid gold;
    background-color: transparent;
}
#white{
    background-color: #a7c957;
    display: block;
    margin: 20px;
    text-align: center;
    font-family: "Edu NSW ACT Foundation", cursive;

}
.cont_padre{
    border-radius:50px;
    width: 300px;
    height: 500px;
    background-color: #f9eecb;
    margin-left: 60%;
    padding: 100px;
    padding-top:40px;
    padding-bottom: 40px;
    align-items: center;
    display: inline-block;
}
    .izquierda {
        margin: 10px;
        margin-bottom: 20px;
        width: 90%;
        height: 20%;
        background-color: #f2e8cf ;
        border: 4px solid #bc4749 ;
        border-style: dashed;
        margin-left: 0;
        text-align: center;
        font-size:40px;
        font-family: cursive;
}
H1,h2{
    text-align: center;

}
body{
    background-image: url(../IMG/fondo2.jpg);
}
a{
    color: inherit;    
    text-decoration: none;
    font-family: "Edu NSW ACT Foundation", cursive;

}
#complementos,#refrescos{
    font-size: 100px;
    color: rgb(255, 255, 213);
    font-family: "Edu NSW ACT Foundation", cursive;
background-color: black;}


#pizzas{
    font-size: 100px;
    color: rgb(255, 255, 213);
    font-family: "Edu NSW ACT Foundation", cursive;
background-color: black;
}
#CONTENEDOR_PIZZA{
    width: 90%;
    margin: 0 auto;
    background-color: rgba(254, 254, 254, 0.8);
    padding: 30px;
    border: 4px solid #386641 ;
}
.PI{
    width: 30%;
    background-color: rgb(254, 254, 254,.8) ;
    margin-left:2.5% ;
    margin-top:2.5% ;
    border: 4PX SOLID #6a994e;

    height: 600px;
    display: inline-block;
    border-radius: 20px;
    box-sizing: border-box;
}
.tam{
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
      object-fit: cover;
      border-radius: 50%;
    margin-top: 5%;
    transition: transform 0.3s ease; 
    box-sizing: border-box;
    
}
.size{
    color: gray;
    size: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.linea{
background-color: black;
width: 100%;
height: 4px;

}
#portada3{
    width: 100%;
    height: 600px; 
    background-image: url(../IMG/ashtetic.webp);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    margin: 0 auto;
    background-attachment:fixed;
    margin-bottom: 50px;

}
.gold{
    margin-bottom: 0px;
}
.tam:hover{
    transform: scale(0.9);
    opacity: .9;
}
.TITULO:hover{
    background-color: #e7ffd9;
}
#contenedor_refrescos{
    width: 90%;
    margin: 0 auto;
    background-color: rgba(254, 254, 254, 0.8);
    padding: 30px;
    border: 4px solid #eed ;
    box-sizing: border-box;
    margin-bottom: 8%;
}
.bd1{
    width: 30%;
    height: 400px;
    margin-left: 2.5%;
    margin-bottom: 5%;
    display: inline-block;
    background-color: #f2e8cf ;
    border: 4px solid #fef9ef;
    box-sizing: border-box;
}

#a{
 transform: scale(0.8);

}
#imagen_comida{
    background-image: url(../IMG/COMIDA.jpeg);
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 5%;
    background-attachment:fixed;

}
.contenedor_extra{
    width: 90%;
    margin: 0 auto;
    background-color: rgba(254, 254, 254, 0.8);
    padding: 30px;
    border: 4px solid #eed ;
    box-sizing: border-box;
    margin-bottom: 8%;
    border: 4px solid #bc4749;
}
.COM{
    width: 30%;
    height:400px;
    background-color: rgb(255, 95, 95);
    border-radius: 50px;
    margin-left:2.5%;
    margin-bottom: 5%;
    box-sizing: border-box;
    display: inline-block;
    padding-left: 30px;
    color: white;

}
.menos{
    margin-left: 10%;
      object-fit: cover;
      border-radius: 50%;
    margin-top: 5%;
    transition: transform 0.3s ease; 
    box-sizing: border-box;
 width: 237px;
height: 237px;
}
.menos:hover{
    transform: scale(0.9);
    opacity: .9;
}
.a{
    color: white;
    text-align: center;
}
footer{
background-image: url(../IMG/fondo_final.jpg);
width: 100%;
height: 500px;
} 
table{
    color: white;
    background-color: black;
    width: 100%;
    padding: 10px;
    opacity: .8;
    align-items: center;
    text-align: center;
}
